version: 2
updates:

- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
    time: '17:00'
    timezone: UTC
  open-pull-requests-limit: 10
  commit-message:
    prefix: "chore"
    include: "scope"
- package-ecosystem: "cargo"
  directory: "/"
  schedule:
    interval: "weekly"
    time: '17:00'
    timezone: UTC
  open-pull-requests-limit: 10
  commit-message:
    prefix: "chore"
    include: "scope"
  allow:
    # Allow both direct and indirect updates for all packages
    - dependency-type: "all"